
#teclado{
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px;
        width:150px;
        padding:2%;
}

div.numero, div.operacion {
    width:30px;
    height: 30px;
    border:1px solid black;
    padding:2%;
    cursor: hand;
    cursor: pointer;
    text-align: center;
}

div.operacion
{
    border:1px solid blue;
}