h1{
    text-align: center;
}

.mainContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
}

div .card{

    border:1px solid yellow;
    border-radius: 20px;
    padding: 2%;
    margin-left: 2%;
    margin-top:2%;
    text-align: center;
    width:18%;

}

div .card img{
    width:90%;
}

div .cardReverse{

    background-color: yellow;
    color:black;
    border: 1px solid black;
}